# Wordperss secrets 
PROJECT_NAME=wordperss
MYSQL_DATABASE=wordpress_database
MYSQL_USER=wordpress_user
MYSQL_PASSWORD=YW08dsm0XP2cek6f
MYSQL_ROOT_PASSWORD=lb9tjjGGHTIvZZr6
MYSQL_HOST=mariadb

# admin secrets 
WP_SITE_TITLE=wordperss
WP_ADMIN_USER=admin
WP_ADMIN_PASSWORD=secureAdmin123
WP_ADMIN_EMAIL=admin@example.com

# pre install plugin list 
WP_PLUGINS="advanced-custom-fields temporary-login-without-password all-in-one-wp-migration"


# PHP Limits
UPLOAD_MAX=256M
POST_MAX=256M
MEMORY_LIMIT=512M